
body {
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-image: url('https://wjcooper91.github.io/triviagame/assets/images/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#ccc;
    background-position: center;
    background-attachment: fixed;
}

.button {
  text-align:center;
  padding:20px;
  background-color: slategray;
  color:#fff;
  font-size:22px;
  font-weight:800;
  width:20%;
}

#done {
  text-align:center;
  padding:20px;
  background-color: slategray;
  color:#fff;
  font-size:22px;
  font-weight:800;
  margin-top:10%;
  width:100%;
}

.json {
  color:#000;
}