@font-face {
  font-family: BTTF;
  src: url('https://wjcooper91.github.io/triviagame/assets/fonts/BTTF.ttf')
  }


body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  background-image: url('https://wjcooper91.github.io/triviagame/assets/images/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: center;
    background-attachment: fixed;
}

h1 {
  display: flex;
  justify-content: flex-start;
  color:#fff;
  font-weight:900;
  font-family: 'BTTF', Georgia, Arial, sans-serif;
  padding:5% 5px 0 5px;
  text-align:center;
  text-transform:lowercase;
  text-shadow:0 0 8px orangered;
  font-size:60px;
}

h3 {
  padding-top:15px;
}

.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display:flex;
  justify-content: center;
}

.button {
  text-align:center;
  padding:20px;
  background-color: slategray;
  color:#fff;
  font-size:22px;
  font-weight:800;
  width:20%;
  display:flex;
  justify-content: center;
}

#done {
  text-align:center;
  padding:20px;
  background-color: slategray;
  color:#fff;
  font-size:22px;
  font-weight:800;
  margin-top:10px;
  width:100%;
  margin-bottom:50px;
  width:20%;
}

.quiz {
  color:#fff;
  font-size:22px;
}

.results {
  color:#fff;
  font-size:30px;
}

#timer {
  font-family: 'BTTF', Georgia, Arial, sans-serif;
  font-size:34px;
}

#quiz {
  font-size:30px;
  font-weight:600;
  color:orangered;
  text-shadow:0 0 8px #777;
}