body {
    background-color:#fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav a:hover {
  text-decoration:underline;
}

.bio img {
  border:1px solid #ddd;
  float: left;
  margin-right:15px;
  margin-bottom:15px;
}

header {
  width:100%;
  display: flex;
  justify-content: space-between;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-top: 10px;
}

.box {
  display:flex;
  justify-content: center;
  border-bottom:2px solid #ddd;
}

content {
  margin:5% 20%;
  display:flex;
  justify-content:center;
  flex-direction: column;
  border:2px solid #ddd;
  background-color:#fff;
  padding:20px 15px;
}

.aboutme {
  text-align:left;
  width:100%;
  color:#4aaaa5;
  font-weight:900;
  font-size:26px;
  border-bottom:3px solid #ddd;
  padding-bottom:15px;
}

footer {
  background-color:#666666;
  border-top:#4aaaa5 solid 5px;
  display: inline-flex;
  justify-content: center;
  width:100%;
}

.copyright {
  color:#bbb;
  font-size:13px;
  padding:40px 5px 5px 5px;
}

a {
  text-decoration:none;
  color: inherit;
}

.container {
  width:100%;
  display:flex;
  flex-direction:column;
}

.name {
  padding:30px;
  background-color: #4aaaa5;
  color:#fff;
  font-size:20px;
  border:none;
}

button:hover {
  opacity:.8;
}

.nav {
  display:inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: #777777;
  font-size:16px;
  width:25%;
}

.about {
  border-right:1px solid #aaa;
  padding: 0 10px;
}

.portfolio {
  border-right:1px solid #aaa;
  padding: 0 10px;
}

.contact {
  padding: 0 10px;
}

.background {
  background: url(https://wjcooper91.github.io/basic-portfolio/images/sams_knob.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bio {
  padding:30px 0;
}

.info {
  padding-right: 20px;
}

/* --  Portfolio -- */

.work {
 display:flex;
 flex-direction: row;
 align-items: flex-start;
flex-wrap: wrap;
padding-right:200px;
}

.work img {
  height:150px;
  width:150px;
  border:2px solid #ddd;
  margin:20px;
}

/* -- Contact Form -- */

.forms {
  margin-top:20px;
  margin-bottom:20px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  margin-top:10px;
  padding:10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size:18px;
  font-weight:500;
}

input[type=submit]:hover {
  opacity: .8;
}

.form {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
  width:100%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 980px) {
  header {
    margin: 10px 5% 0 5%;
  }

  content {
    margin:5% 15%;
  }
}

@media screen and (max-width: 768px) {
  header {
    margin: 10px 8% 0 8%;
  }

  content {
    margin:5% 10%;
  }
}

@media screen and (max-width: 640px) {
  content {
    margin:5%;
  }

  header {
    display:flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }

  .nav {
    display:inline-flex;
    justify-content:center;
    margin:10px 38%;
  }

  .nav a:hover {
    font-size:17px;
    color:#777;

  }

  .mobile-button {
    display:flex;
    justify-content: center;
  }

  button {
    min-width:640px;
  }
  
  .bio {
    display:flex;
    justify-content: center;
    flex-direction:column
  }

  .bio img {
    border:1px solid #ddd;
    width:100%;
    height:auto;
    margin-right:0;
    margin-bottom:15px;
  }
}