body {
    color:#fff;
    background-image: url(https://wjcooper91.github.io/runequest/assets/images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:#ccc;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color:#fff;
    font-size:5vw;
    text-shadow: #223921 5px 2px;
}

h2 {
    color:#fff;
    font-size:32px;
    text-shadow:#223921 5px 2px;
}

.container-fluid {
    padding-left:0;
    padding-right:0;
    display:flex;
    justify-content: center;
}

.game-container {
    display:flex;
    flex-direction:column;
    margin:10% 5%;
}

#crystals {
    margin-bottom:30px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.scoreboard-container {
    display:flex;
    justify-content: space-between;
}

.number-to-reach {
    background-color:#777;
    opacity:.9;
    padding:50px;
    margin:20px;
    text-align:center;
}

.w-l {
    display:flex;
    flex-direction:column;
    width:200px;
    margin:20px;
    background-color:#777;
    opacity:.9;
    width:200px;
    padding:10px 20px;

}

.crystal-image {
    width:100px;
    height:100px;
    margin:0 20px;
}

.total-score {
    text-align:center;
}

@media only screen and (max-width: 950px) {
    .scoreboard-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

}

@media only screen and (max-width: 600px) {
h1 {
    font-size:30px;
}

.number-to-reach {
    padding:20px;
}
}
